html {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: orange 3px solid;
}

#logo {
    width: 150px;
    height: 150px;
}

#nav-menu {
    width: 700px;
}
#nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#nav-menu ul a {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Baloo Bhai', cursive;
    font-size: 28px;
    color: orange;
    text-decoration: none;
    padding: 0 5px 0 5px;
    border-left: transparent 3px solid;
    transition: 1s border-left;
}

#nav-menu ul a:hover {
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Baloo Bhai', cursive;
        font-size: 28px;
        color: orange;
        text-decoration: none;
        padding: 0 5px 0 5px;
        border-left: orange 3px solid;
        transition: 0.5s border-left;
}

